* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial";
}

nav {
  padding: 4px;
  font-size: 14px;
}

.top-right {
  float: right;
  font-size: 13px;
  margin-right: 4px;
}

.top-right-icon {
  float: right;
  bottom: 9px;
}

#grid-menu {
  position: relative;
  width: 15px;
  height: 15px;
  padding: 8px;
  margin-right: 12px;

}

#sign-button {
  background-color: rgb(26, 115, 232);
  font-size: 14px;
  color: #fff;
  border: none;
  position: relative;
  padding: 9px 23px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: lighter;
}

ul {
  margin: 18px;
}

li {

}
a {
  color: #222222;
  text-decoration: none;
  padding-right: 12px;
  padding-left: 4px;
}

a:hover {
  text-decoration: underline;
}

#google-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12%;
  height: 92px;
  width: 272px;
}

#google-mic {
  position: relative;
  right: 20px;
  width: 15px;
  height: 20px;
  left: 43px;
  top: 12px;
}

.search-bar {
  margin-top: 1.8%;
  margin-left: auto;
  margin-right: auto;
  width: 582px;
  height:44px;
  border: 1px solid #dcdcdc;
  color: #222;
  border-radius: 30px;
}

.bar {
  position: relative;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 500px;
  left: 20px;
  top: 8px;
}

.search-bar:hover {
  box-shadow: 1px 1px 5px 1px #dcdcdc;
}
.search-bar:focus-within {
  box-shadow: 1px 1px 5px 1px #dcdcdc;
}

.button-container {
  margin: 2%;
  text-align: center;

}

button {
  color: #3c4043;
  background-color: rgb(248, 249, 250);
  border: none;
  outline: none;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 5px;
  margin: 0 5px;
}


button:hover {
  box-shadow: 1px 1px 3px 1px #c8c8c8;
}

button:focus {
  border:1px solid #4885ed;
}

footer {
  position: absolute;
  background-color: rgb(248, 249, 250);
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
}

footer a {
  color: #70757a;
  font-size: 14px;
  padding: 0 10px;

}

.footer-left {
  float: left;
  padding-left: 18px;
}

.footer-right {
  float: right;
  padding-right: 18px;
}
